<ion-content class="ion-padding modal-filter">
  <h3 class="ion-text-center">Categorías</h3>
  <p class="ion-text-center">Filtre las notícias por alguna de las siguientes categorías.</p>
  <br>
  <ul class="numberlist">
    <ol *ngFor="let item of categorias" class="ion-padding">
      <ion-icon name="checkmark"></ion-icon>
      <a (click)="redirect(item.url)">{{item.categoria}} ({{item.total_articulos}})</a>
    </ol>
  </ul>
  <br>
  <ion-row class="ion-justify-content-center">
    <ion-button color="medium" class="ion-float-right" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-row>

</ion-content>
