<ion-grid>
  <ion-toolbar>
    <ion-row>
      <ion-col size="1" *ngIf="showGoBack" class="ion-no-padding" (click)="goBack()">
        <ion-icon name="chevron-back-outline" style="font-size: 20pt; color: white"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <img src="../assets/images/logo.svg">
      </ion-col>
      <ion-col size="3" *ngIf="showFilter"></ion-col>
      <ion-col size="4" *ngIf="!showFilter"></ion-col>
      <ion-col size="2" (click)="openModalFilter()" *ngIf="showFilter">
        <img src="../assets/images/filter.svg" class="refresh">
      </ion-col>
      <ion-col size="2" class="ion-text-center ion-justify-content-end" (click)="makeRefresh()">
        <img src="../assets/images/refresh.svg" class="refresh">
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-grid>
