ion-card-title {
  font-family: FontTitulo; font-size: 12pt;

}
ion-card-content {
  font-size: 10pt;
  font-family: FontNormal;
  max-height: 250px;
  overflow: hidden;
}
.padding {
  padding: 3px 6px;
}
