
  <h3 class="padding">Últimas noticias</h3>
  <ion-row *ngIf="request" class="ion-justify-content-center">
    <ion-col size="6" class="ion-align-items-center">
      <ion-row class="spinnerCenter">
        <ion-spinner></ion-spinner>
        <h4>Cargando datos...</h4>
      </ion-row>
    </ion-col>
  </ion-row>
  <div *ngIf="!request">
    <ion-slides pager="true" [options]="slideOpts" #SliderProdutos>
      <ion-slide  *ngFor="let noticia of noticias">
        <ion-card class="ion-no-margin padding">
          <ion-card-header class="ion-no-padding">
            <ion-card-title>{{noticia.titulo}}</ion-card-title>
          </ion-card-header>
          <ion-row class="ion-margin-top">
            <ion-col size="4" class="ion-no-padding">
              <img src="{{noticia.foto_miniatura}}" />
            </ion-col>
            <ion-col size="8" style="padding-top: 0;">
              <ion-card-content class="ion-no-padding ion-text-justify">
                {{noticia.resumen | slice:0:190}}...
              </ion-card-content>
              <ion-button (click)="abrirNoticia(noticia.url)" size="small" class="ion-margin ion-float-right">
                <ion-icon name="search"></ion-icon>
                Leer notícia
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

