<ion-tabs style="width: 100%">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/images/growth.svg" width="22px">
      <ion-label>Internacional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/images/analytics.svg" width="22px">
      <ion-label>Nacional</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/images/newspaper.svg" width="22px">
      <ion-label>Noticias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
