<app-header (execRefresh)="refreshMarket()"></app-header>

<ion-content>
    <ion-row class="date">
            <ion-col>
                <p>Mercados abiertos</p>
            </ion-col>
            <ion-col>
                <p class="ion-text-end">{{today | date:'medium'}}</p>
            </ion-col>

        </ion-row>
    <ion-row *ngIf="request" class="ion-justify-content-center">
        <ion-col size="6" class="ion-align-items-center">
            <ion-row class="spinnerCenter">
                <ion-spinner></ion-spinner>
                <h4>Cargando datos...</h4>
            </ion-row>
        </ion-col>
    </ion-row>

    <div *ngIf="!request">
        <ion-row class="header">
            <ion-col size="1">
            </ion-col>
            <ion-col size="4">
                <ion-label>Mercados</ion-label>
            </ion-col>
            <ion-col size="5">
                <ion-label>Compra</ion-label>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
        <ion-card class="item-market" *ngFor="let item of datos">
            <ion-card-header>
                <ion-row class="datos-mercado">
                    <ion-col size="1" class="ion-text-center" (click)="expandItem(item)">
                        <img src="../../assets/images/magnifying-glass.svg" width="14px">
                    </ion-col>
                    <ion-col size="4" class="header-table" (click)="expandItem(item)">
                        <ion-label class="name-commoditie">{{item.nombre}}</ion-label>
                    </ion-col>
                    <ion-col size="5" class="header-table">
                        <ion-label class="cantidad">{{item.precio | number}} <small>{{item.par}}</small></ion-label>
                    </ion-col>
                    <ion-col size="2" class="header-table">
                        <div *ngIf="item.movilidad > 0" class="positivo ion-text-center">
                            <small> + {{item.movilidad}}%</small>
                        </div>
                        <div *ngIf="item.movilidad < 0" class="negativo ion-text-center">
                            <small>{{item.movilidad}}%</small>
                        </div>
                        <div *ngIf="item.movilidad == 0" class="default ion-text-center">
                            <small>0 %</small>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-card-header>

            <ion-card-content>
                <app-expandable [expanded]="item.expanded">
                    <app-graph [typeMarket]="'N'" [market]="item.nombre"></app-graph>
                </app-expandable>
            </ion-card-content>
        </ion-card>
        <br>
        <app-market-legend [market]="'N'"></app-market-legend>
        <app-ultimas-noticias></app-ultimas-noticias>
    </div>
</ion-content>
