<app-header></app-header>
<ion-content>
    <ion-card *ngFor="let noticia of noticias">
        <ion-card-header>
            <ion-card-subtitle>{{noticia.fecha_creacion | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
            <ion-card-title>{{noticia.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-row>
            <ion-col size="4">
                <img src="{{noticia.foto_principal}}" />
            </ion-col>
            <ion-col size="8">
                <ion-card-content no-padding>
                    {{noticia.resumen}}
                </ion-card-content>
            </ion-col>

            <ion-button (click)="abrirNoticia(noticia.url)" size="small" class="ion-margin" item-right>
                <ion-icon name="search"></ion-icon>
                Continuar leyendo
            </ion-button>

        </ion-row>


    </ion-card>
</ion-content>
