/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {font-family: FontNormal; src: url(assets/fonts/Raleway-Light.ttf);}
@font-face {font-family: FontTitulo; src: url(assets/fonts/Raleway-Bold.ttf);}
@font-face {font-family: FontSubTitulo; src: url(assets/fonts/Raleway-Regular.ttf);}
@font-face {font-family: Roboto; src: url(assets/fonts/Roboto-Regular.ttf);}

ion-content {
  font-family: FontNormal;
}
.cantidad {
  font-family: Roboto;
}
.refresh {
  filter: brightness(0) invert(1);
  width: 40%;
}

ion-tab-button {
  color: white;
  background: #34a5e9;
}

ion-tab-button:focus {
  background: #009ef9 !important;
  ion-icon, ion-label {
    color: black !important;
    --ion-color-base: black !important;
  }
}


.header {
  background: #34a5e9;
  font-family: FontTitulo;
  color: white;
  padding: 6px 4px;
}
.leyenda {
  font-size: 0.7rem; padding: 2px 6px; margin: 0;
  color: #34a5e9;
}
.swiper-wrapper {
  min-height: 230px;
}
.swiper-pagination {
  bottom: 0.4rem !important;
}

.name-commoditie {
  text-decoration: underline;
  font-family: FontTitulo;
}
.positivo, .negativo, .default {
  background: #0ec254; font-family: FontSubTitulo;
  color: white;
  padding: 4px 6px;
  border-radius: 6px;
}
.default {
  background: #989aa2;
}
.negativo {
  background: red;
}

ion-card {
  box-shadow: none !important;
}
.date {
  background: #61757c;
}
.date p {
  margin: 0;
  color: white;
  font-size: 9pt;
  padding: 4px 10px;
}
.datos-mercado {
  padding: 0 4px;
  font-size: 9.5pt;
  border-bottom: 1px solid #ccc;
}
.swiper-slide {
  text-align: left;
}
.spinnerCenter {
  display: flex; margin-top: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.modal-filter {
  --height: 60%;
  --width: 97%;
}

ion-content {
  --background: url(assets/images/bg.jpg) no-repeat center center / cover;
}

.item-market {
  margin: 0;
  padding: 0;
  background: transparent;
}
.item-market > ion-card-header {
  padding: 0;
}
.item-market > .card-content-ios, .item-market > .card-content-md {
  padding-bottom: 0;
}
